data/Algo/Block1/
data/Algo/Block2/checkpoint/
data/Algo/Block2/out_cnn/
data/Algo/Block2/x_label/
data/Algo/Block2/mu/
data/Algo/Images/
data/Algo/Comparison/
data/Algo/Data/initialization/image_DIP_input_torch.pt
data/Algo/Data/initialization/image_DD_input_torch.pt
data/Algo/Data/initialization/image_DD_AE_input_torch.pt
data/Algo/Data/initialization/image_VAE_DIP_input_torch.pt
data/Algo/Data/initialization/uniform_input_DIP.img
data/Algo/Data/initialization/uniform_input_DD.img
data/Algo/Data/initialization/uniform_input_DD_AE.img
data/Algo/Data/initialization/random_input_VAE_DIP.img
data/Algo/Data/initialization/random_input_DIP.img
data/Algo/Data/initialization/random_input_DD.img
data/Algo/Data/initialization/random_input_DD_AE.img
data/Algo/Data/initialization/random_input_VAE_DIP.img
data/Algo/Data/initialization/MLEM_it60_REF_cropped.hdr
data/Algo/Data/initialization/MLEM_it60_REF_cropped.img
data/Algo/Data/MLEM_reco_for_init/

data/Algo/Data/castor_output.log
data/Algo/Data/castor_output_it60_ss1_sensitivity.hdr
data/Algo/Data/castor_output_it60_ss1_sensitivity.img
env/
env_disk/

data/Algo/Data/ADMMLim_*

data/Algo/Data/database_v2/
data/Algo/Data/im_corrupt_beginning.img
data/Algo/metrics

data/Algo/image*
diff_all.py
BSREM quad pas bcp it/
MIC runs/


data/Algo/suffixes*
data/Algo/replicates_*
data/Algo/debug/

models/__pycache__/

runs (copy)/
runs/
simu_mmr/
simu_biograph/
.vscode/
trash/
__pycache__/

PlotNeuralNet/
